{% extends 'base.html.twig' %}

{% block title %}Hello PrendreRdvController!{% endblock %}

{% block body %}
<h1>Register</h1>

{{ form_start(form) }}

    {{ form_row(form.dateRdv, { 'attr': {'class': 'form-control'} }) }}

    {{ form_row(form.description, { 'attr': {'class': 'form-control'} }) }}

    <div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>

{{ form_end(form) }}

{% endblock %}