* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #a7c7e7;  /* Fond bleu ciel */
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
}

.font-weight-bold {
  font-weight: 600;
}

.bg-light-gray {
    background-color: #a7c7e7;  /* Fond bleu ciel */
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
}

.card-body {
    padding: 30px;
    background-color: white;  /* Fond blanc pour le formulaire */
}

form .form-control-lg {
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

form .form-control-lg:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
}

.btn-dark {
    background-color: #343a40;
    border: none;
}

.btn-dark:hover {
    background-color: #23272b;
}

.btn-dark.text-white {
    color: white;  /* Texte en blanc sur les boutons */
}

.alert {
    margin-top: 20px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

<<<<<<< HEAD
nav {
  background-color: #f4f4f4;
}
=======
/* Style des boutons */
.custom-btn {
    transition: all 0.3s ease;
    border: 2px solid #333;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Effet de survol des boutons */
.custom-btn:hover {
    background-color: #333;
    border-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

/* Effet au clic */
.custom-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Bouton danger (pour la suppression) */
.btn-danger.custom-btn:hover {
    background-color: #c82333;
    border-color: #fff;
}

/* Espacement entre les deux boutons "Mettre à jour" et "Déconnecter" */
.mt-4 .btn {
    margin-right: 15px; /* Ajoute un espacement à droite pour "Mettre à jour" */
}



>>>>>>> Rayan
